<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Seal News</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>

<div class="wrapper">
  <div class="container">
    <a href="/"><div class="header">
      <span class="title">Seal News</span>
      <img src="http://localhost:4567/seal.png">
    </div></a>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
